.invisible{
    display: none;
   @include responsive(phone){
       display: block;
   }
}

.phone-invisible{
    display: block;
   @include responsive(phone){
       display: none;
   }
}

.heading{
    width: 70%;
    height: 10%;
    text-transform: uppercase;
    text-align: center;
    margin: 0rem auto;
    color: $color-primary-opacity-80;
    font-size: $medium-font-size;
    padding-bottom: $medium-padding;
    @include animation(moveInLeft);

    @include responsive(tab-port){
        width: 80%;
    }
    
    @include responsive(phone){
        width: 90%;
    }
}

.colored-heading{
    color: $color-primary-dark-blue;
}

.big-main-card{
    width: 44%;
    border: 1px solid $color-primary-dark-blue;
    height: 19rem;
    border-radius: $medium-border-radius;
    padding: 3rem 1.5rem;
    text-align: center;
    font-size: $medium-font-size;
    font-weight: $light-weight;
    margin-bottom: 2rem;
    transition: all .2s;
    cursor: pointer;
    img{
        height: 4rem;
        width: 4rem;
        margin-bottom: 2rem;
    }

    @include responsive(phone){
        width: 45%;
    }

    &:hover{
        border: none;
        transform: scale(1.09);
        box-shadow: $box-shadow;
    }
}


.small-main-card{
    @extend .big-main-card;
}