@mixin  responsive($breakpoint) {
    @if $breakpoint == lg-desktop {
        @media (min-width: 112.5em) {@content} //1800px
    };

    @if $breakpoint == android-land {
        @media (max-width: 112.5em) {@content} //1800px
    };
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content} //1200px
    };

    @if $breakpoint == ipad-pro{
        @media (max-width: 64em) {@content} //1024px
    };
    @if $breakpoint == tab-port{
        @media (max-width: 56.25em) {@content} //900px
    };

    @if $breakpoint == ipad{
        @media (max-width: 48em) {@content} //768px
    };

    @if $breakpoint == android-G{
        @media (max-width: 45em) {@content} //720px
    };

    @if $breakpoint == iphone-land {
        @media (max-width: 41.6875em) {@content} //667px
    };
    
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content} //600px
    };

    @if $breakpoint == over-450 {
        @media (min-width: 28.125em) and (max-width: 56.25em) {@content} //450px
    };
    @if $breakpoint == surface-duo {
        @media (max-width: 28.125em) {@content} //450px
    };

    @if $breakpoint == iphone6-7-8-plus{
        @media (max-width: 25.875em) {@content} //414px
    };

    @if $breakpoint == pixel-2 {
        @media (max-width: 25.6875em) {@content} //411px
    };
    @if $breakpoint == iphone6-7-8 {
        @media (max-width: 23.4375em) {@content} //375px
    };
    @if $breakpoint == iphone6-7-8-exact {
        @media (width: 23.4375em) {@content} //375px
    };
    @if $breakpoint == very-small-screen {
        @media (max-width: 21.250em) {@content} //340px
    };
}


@mixin sectionPadding($direction) {
    display: flex;
    padding: 9rem 10rem 1rem;
    background-color: #fff;
    &--left{
        flex-basis: 50%;
      
    }
    &--right{
        flex-basis: 50%;

    }
    @include responsive(tab-land){
        padding: 1rem 3rem;
    }
    @include responsive(phone){
        flex-direction: $direction;
    }

}


@mixin extra-rectangle($bg-color) {
    height: 7rem;
    width: 80%;
    background-color: $bg-color;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@mixin positioningContent($Xposition, $Yposition) {
    display: flex;
    align-items: $Xposition;
    justify-content: $Yposition;
}


@mixin  animation($animationName) {
    transition: all .2s;
    animation: $animationName 2s forwards ease-out;
}


@mixin styleCard {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}