$bg-color-secondary-light-gray: #C4C4C4;
$color-primary-white: #FFFFFF;
$color-primary-dark-blue: #0570c1;
$color-secondary-dark-gray: #444444;
$color-primary-light-black: #0C0B0B;
$color-primary-dark-black: #000;


