.our-process{
    position: relative;
    margin-top: 5rem;
    &__content{
    margin-top: 6vh;
    min-height: 93vh;
        display: flex;
        .left-section{
        min-height: 93vh;
        flex-basis: 50%;
        @include positioningContent(center, center);
        position: relative;
        padding: 10rem;
        color: $color-primary-white;

        @include responsive(phone){
            min-height: 50vh;
        }
        .process-bg-img{
            img{
                z-index: -2;
                top: 0;
            left: 0;
            position: absolute;
            object-fit: cover;
            height: 100%;
            width: 100%;
            }
        }
        .model{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;
            height: 100%;
            width: 100%;
            background-color: rgba($color: $color-primary-dark-blue, $alpha: .9);
        }
        }
        .right-section{
            flex-basis: 50%;
            .upper-part{
                height: 85vh;
                @include positioningContent(center, center);
                padding: 7rem;
                font-size: 2rem;
                font-weight: 300;
                color: $color-gray-opacity-80;
                line-height: 3rem;
                p{
                    width: 70%;
                    padding: 5rem;
                    box-shadow: $box-shadow;
                    transition: all .5s ease;
                    &:hover{
                        transform: scale(0.9);

                    }

                }

                @include responsive(phone){
                    height: 70vh;
                    padding: 5rem;

                    p{
                       width:  100%;
                    }
                }
            }
            .lower-part{
            @include positioningContent(flex-end, center);

            }
        }

        @include responsive(tab-land){
            flex-direction: column;
        }

        .design-button{
            width: 18%;
            height: 8rem;
            position: absolute;
            top: 45%;
            left: 41.1%;
            display: flex;
            border-radius: 1rem;
            overflow: hidden;
            border: none;
            box-shadow: $box-shadow;

            .left{
                flex-basis: 50%;
                background-color: $color-primary-white;
                padding: .2rem;
                img{
                    height: 80%;
                    width: 60%;
                }
            @include positioningContent(center, center);

            }
            .right{
                flex-basis: 50%;
                background-color: rgba($color: $color-primary-dark-blue, $alpha: .9);
                padding: .2rem;
                color: $color-primary-white;
                @include positioningContent(center, center);
                font-size: 1.5rem;
                font-weight: bold;


            }
            @include responsive(tab-port){
                width: 30%;
                top: 45%
            }
            @include responsive(phone){
                width: 50%;
                top: 33%;
                left: 25%;
            }
        }

    }
  
}