.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 8rem;
    align-items: center;
    background-color: #000;
    padding: 3rem 6rem;
    width: 100%;
    z-index: 9;
}

.header-bg-inverse{
    background-color: rgb(71, 71, 71);
    box-shadow: .07rem .2rem 1rem rgba(0, 0, 0, 0.5);
    transition: ease-in-out;
}

.header--section{
    flex-basis: 30%
}
.search-bar{
    flex-basis: 40%

}

.header--big-letters{
    font-size: 8rem;
    color: #fab700;
}
@media screen and (max-width: 780px){
    .header{
        padding: 2rem;
    }
    .header__logo{
        flex-basis: 25%;
    }

    .header__nav{
        flex-basis: 25%
    
    }
    .search-bar{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 900px){
    .header--big-letters{
        font-size: 5rem;
    }
}
