.image-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0rem 1rem;
    padding: 1rem;
    grid-auto-rows: 12px;
}
@media screen and (max-width: 1024px){
    .image-list{
        grid-gap: .1rem 1rem;

    }
}
@media screen and (max-width: 900px){
    .image-list{
        grid-gap: .15rem 1rem;

    }
}

@media screen and (max-width: 600px){
    .image-list{
        grid-gap: .1rem 1rem;

    }
}