@keyframes FromLeft {
  0% {
    opacity: 0;
    transform: translateX(60rem), 100%;
      transform-opacity: 1;
      transform-transform: translateX(0rem); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeftShort {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRightShort {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTopShort {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottomShort {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.2); }
  100% {
    opacity: 1;
    transform: translate(1); } }

@keyframes moving-box-1 {
  0% {
    left: 20%;
    top: -40px; }
  30% {
    left: 60%;
    top: 30%; }
  100% {
    left: 105%;
    top: 50%; } }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  font-family: Inter, "Inter UI", Helvetica, Arial, sans-serif; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

.invisible {
  display: none; }
  @media (max-width: 37.5em) {
    .invisible {
      display: block; } }

.phone-invisible {
  display: block; }
  @media (max-width: 37.5em) {
    .phone-invisible {
      display: none; } }

.heading {
  width: 70%;
  height: 10%;
  text-transform: uppercase;
  text-align: center;
  margin: 0rem auto;
  color: rgba(0, 0, 0, 0.801);
  font-size: 1.8rem;
  padding-bottom: 3rem;
  transition: all .2s;
  animation: show 2s forwards ease-out; }
  @media (max-width: 56.25em) {
    .heading {
      width: 80%; } }
  @media (max-width: 37.5em) {
    .heading {
      width: 90%; } }

.colored-heading {
  color: #0570c1; }

.big-main-card, .small-main-card, .middle-card, .write-code, .testing, .features-delivery, .share-updates, .client-feedback, .optimization, .product-delivery {
  width: 44%;
  border: 1px solid #0570c1;
  height: 19rem;
  border-radius: 1rem;
  padding: 3rem 1.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 2rem;
  transition: all .2s;
  cursor: pointer; }
  .big-main-card img, .small-main-card img, .middle-card img, .write-code img, .testing img, .features-delivery img, .share-updates img, .client-feedback img, .optimization img, .product-delivery img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2rem; }
  @media (max-width: 37.5em) {
    .big-main-card, .small-main-card, .middle-card, .write-code, .testing, .features-delivery, .share-updates, .client-feedback, .optimization, .product-delivery {
      width: 45%; } }
  .big-main-card:hover, .small-main-card:hover, .middle-card:hover, .write-code:hover, .testing:hover, .features-delivery:hover, .share-updates:hover, .client-feedback:hover, .optimization:hover, .product-delivery:hover {
    border: none;
    transform: scale(1.09);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); }

.zoom-in-animation {
  transition: all .2s;
  animation: zoomIn 2s forwards ease-out; }

.show-animation {
  transition: all .2s;
  animation: show 2s forwards ease-out; }

.move-in-left-animation-lg {
  transition: all .2s;
  animation: moveInLeft 2s forwards ease-out; }

.move-in-right-animation-lg {
  transition: all .2s;
  animation: moveInRight 2s forwards ease-out; }

.move-in-left-short {
  transition: all .2s;
  animation: moveInLeftShort 2s forwards ease-out; }

.move-in-right-short {
  transition: all .2s;
  animation: moveInRightShort 2s forwards ease-out; }

.move-in-top-short {
  transition: all .2s;
  animation: moveInTopShort 2s forwards ease-out; }

.move-in-bottom-short {
  transition: all .2s;
  animation: moveInBottomShort 2s forwards ease-out; }

.arrow {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 46%;
  left: 12%;
  z-index: -3; }
  .arrow__stiff {
    flex-basis: 98%;
    height: .3rem;
    background-color: #0570c1;
    margin-right: -.7rem; }
  .arrow__pointer-right, .arrow__pointer-down {
    flex-basis: 5%;
    font-size: 2rem;
    font-weight: 300;
    color: #0570c1;
    z-index: 0; }
  .arrow__pointer-down {
    display: none; }
  @media (min-width: 112.5em) {
    .arrow {
      width: 95%; } }
  @media (max-width: 75em) {
    .arrow {
      top: 48%; } }
  @media (max-width: 64em) {
    .arrow {
      top: 46%; } }
  @media (max-width: 48em) {
    .arrow {
      top: 45%; } }
  @media (max-width: 56.25em) {
    .arrow {
      top: 2rem;
      left: 0;
      height: 90%;
      width: 100%;
      flex-direction: column;
      margin-top: 5.5rem; }
      .arrow__stiff {
        border: 1px solid #0570c1;
        border-radius: 1rem;
        margin-left: -.6rem; }
      .arrow__pointer-right, .arrow__pointer-down {
        display: none; }
      .arrow__pointer-down {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -.8rem;
        margin-left: .1rem; } }
  @media (max-width: 21.25em) {
    .arrow {
      height: 80%;
      margin-top: 10rem; } }

.pointing-up-arrow {
  position: absolute;
  top: -22%;
  left: 35%;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  color: #0570c1; }
  .pointing-up-arrow .vertical-statiff {
    height: 5rem;
    width: .3rem;
    background-color: #0570c1;
    margin-left: .40rem;
    margin-top: -.9rem;
    border-radius: 1rem; }
    @media (max-width: 75em) {
      .pointing-up-arrow .vertical-statiff {
        height: 6rem; } }
  @media (min-width: 112.5em) {
    .pointing-up-arrow {
      height: 7rem;
      top: -23%;
      left: 35%; } }
  @media (max-width: 64em) {
    .pointing-up-arrow {
      height: 6rem;
      top: -18%; } }
  @media (max-width: 48em) {
    .pointing-up-arrow {
      height: 4rem;
      top: 6%; } }
  @media (max-width: 64em) {
    .pointing-up-arrow {
      margin-top: -.8rem; } }
  @media (max-width: 56.25em) {
    .pointing-up-arrow {
      top: -1%;
      left: 82%;
      height: 10rem; } }
  @media (max-width: 48em) {
    .pointing-up-arrow {
      margin-top: -1.3rem; } }
  @media (min-width: 28.125em) and (max-width: 56.25em) {
    .pointing-up-arrow {
      left: 72%; } }

.btn {
  height: 3.5rem;
  width: 10rem;
  color: #FFFFFF;
  border: none;
  background-color: #0570c1;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  outline: none;
  cursor: pointer; }
  .btn:hover {
    background-color: #048ffa;
    font-weight: bold; }

.contact {
  display: flex;
  align-items: center; }
  .contact p {
    margin-left: 1rem; }

.core-value {
  display: flex;
  margin-bottom: 2rem;
  transition: all 1s ease; }
  .core-value__box {
    flex-basis: 15%;
    background-color: rgba(128, 128, 128, 0.664);
    display: flex;
    align-items: center;
    justify-content: center; }
    .core-value__box h1 {
      font-size: 8rem;
      color: #FFFFFF;
      text-transform: uppercase; }
  .core-value__content {
    font-size: 1.8rem;
    font-weight: 300;
    flex-basis: 85%;
    padding: 0rem 1rem; }
  .core-value__strong {
    color: #0570c1; }
  .core-value:hover {
    transform: scale(1.09);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); }

.logo-container {
  text-align: center;
  font-family: "Sirin Stencil", cursive; }
  .logo-container .logo {
    height: 80%;
    width: 80%; }
  .logo-container p {
    margin-top: -1rem;
    color: #0570c1;
    font-weight: 400; }

.small-main-card, .middle-card, .write-code, .testing, .features-delivery, .share-updates, .client-feedback, .optimization, .product-delivery {
  width: 12rem;
  height: 12rem;
  padding: 2rem 0.5rem;
  font-size: 1.5rem;
  background-color: #fff;
  margin-bottom: 0rem; }
  .small-main-card img, .middle-card img, .write-code img, .testing img, .features-delivery img, .share-updates img, .client-feedback img, .optimization img, .product-delivery img {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem; }
  @media (min-width: 112.5em) {
    .small-main-card, .middle-card, .write-code, .testing, .features-delivery, .share-updates, .client-feedback, .optimization, .product-delivery {
      margin-right: 8rem; } }
  @media (max-width: 56.25em) {
    .small-main-card, .middle-card, .write-code, .testing, .features-delivery, .share-updates, .client-feedback, .optimization, .product-delivery {
      width: 9rem;
      height: 9rem;
      font-size: 1rem; }
      .small-main-card img, .middle-card img, .write-code img, .testing img, .features-delivery img, .share-updates img, .client-feedback img, .optimization img, .product-delivery img {
        height: 2.5rem;
        width: 2.5rem;
        margin-bottom: .5rem; } }
  @media (max-width: 56.25em) {
    .small-main-card, .middle-card, .write-code, .testing, .features-delivery, .share-updates, .client-feedback, .optimization, .product-delivery {
      width: 10rem;
      height: 10rem;
      font-size: .8rem;
      padding: 1rem 0rem;
      margin-bottom: 2rem; }
      .small-main-card img, .middle-card img, .write-code img, .testing img, .features-delivery img, .share-updates img, .client-feedback img, .optimization img, .product-delivery img {
        height: 2.5rem;
        width: 2.5rem;
        margin-bottom: .7rem; } }

@media (min-width: 112.5em) {
  .middle-card {
    margin-left: 8rem; } }

.write-code {
  position: absolute;
  top: 36%;
  left: 10%; }
  @media (max-width: 56.25em) {
    .write-code {
      top: -10%;
      left: 42%; } }
  @media (min-width: 28.125em) and (max-width: 56.25em) {
    .write-code {
      left: 44%; } }
  @media (width: 23.4375em) {
    .write-code {
      left: 39%; } }

.testing {
  position: absolute;
  top: 81%;
  left: 28%; }
  @media (max-width: 56.25em) {
    .testing {
      top: 14%;
      left: 9%; } }
  @media (min-width: 28.125em) and (max-width: 56.25em) {
    .testing {
      left: 24%; } }
  @media (width: 23.4375em) {
    .testing {
      left: 4%; } }

.features-delivery {
  position: absolute;
  top: 81%;
  left: 56.8%; }
  @media (max-width: 56.25em) {
    .features-delivery {
      top: 60%;
      left: 9%; } }
  @media (min-width: 28.125em) and (max-width: 56.25em) {
    .features-delivery {
      left: 24%; } }
  @media (width: 23.4375em) {
    .features-delivery {
      left: 4%; } }

.share-updates {
  position: absolute;
  top: 36%;
  left: 70%; }
  @media (max-width: 56.25em) {
    .share-updates {
      top: 85%;
      left: 42%; } }

.client-feedback {
  position: absolute;
  top: -7%;
  left: 56.5%; }
  @media (max-width: 56.25em) {
    .client-feedback {
      top: 60%;
      left: 73%; } }
  @media (min-width: 28.125em) and (max-width: 56.25em) {
    .client-feedback {
      left: 64%; } }

.optimization {
  position: absolute;
  top: -7%;
  left: 28%; }
  @media (max-width: 56.25em) {
    .optimization {
      top: 14%;
      left: 73%; } }
  @media (min-width: 28.125em) and (max-width: 56.25em) {
    .optimization {
      left: 64%; } }

.product-delivery {
  position: absolute;
  top: -50%;
  left: 28%; }
  @media (max-width: 56.25em) {
    .product-delivery {
      top: -30%;
      left: 73%; } }
  @media (min-width: 28.125em) and (max-width: 56.25em) {
    .product-delivery {
      left: 64%; } }
  @media (width: 23.4375em) {
    .product-delivery {
      top: -39%; } }

.percentage-card-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem; }
  .percentage-card-container .percentage-card {
    width: 50%;
    height: 19rem;
    justify-content: start;
    font-size: 1.8rem;
    padding: 3rem;
    color: rgba(128, 128, 128, 0.664); }
    .percentage-card-container .percentage-card h1 {
      font-size: 5rem;
      color: #0570c1;
      font-weight: 300; }
    @media (max-width: 56.25em) {
      .percentage-card-container .percentage-card {
        padding: 5rem 2rem;
        color: #0C0B0B; }
        .percentage-card-container .percentage-card h1 {
          margin-top: 1rem;
          font-size: 4rem; } }
  @media (max-width: 56.25em) {
    .percentage-card-container {
      width: 100%;
      margin-top: -4rem; } }
  .percentage-card-container .top-left {
    border-right: 1px solid rgba(128, 128, 128, 0.472); }
  .percentage-card-container .top-right {
    border-bottom: 1px solid rgba(128, 128, 128, 0.472);
    margin-bottom: 1rem; }
  .percentage-card-container .bottom-left {
    border-top: 1px solid rgba(128, 128, 128, 0.472); }
  .percentage-card-container .bottom-right {
    border-left: 1px solid rgba(128, 128, 128, 0.472); }
  @media (max-width: 56.25em) {
    .percentage-card-container {
      padding-top: 5rem; } }

.social-icon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease; }
  .social-icon:hover {
    border: 2px solid #FFFFFF; }
  .social-icon a, .social-icon:link, .social-icon:visited {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .social-icon a img, .social-icon:link img, .social-icon:visited img {
      height: 70%;
      width: 70%;
      cursor: pointer; }

.message-us {
  display: block;
  padding: 3rem;
  color: rgba(0, 0, 0, 0.762); }
  .message-us h1 {
    margin-bottom: 3rem;
    font-size: 3.5rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.801); }
  .message-us form .message-us-input {
    width: 90%;
    padding: 1.5rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    border: none;
    background-color: #c4c4c437;
    outline: none; }
    @media (max-width: 56.25em) {
      .message-us form .message-us-input {
        width: 95%; } }
    @media (max-width: 37.5em) {
      .message-us form .message-us-input {
        width: 100%; } }
  .message-us form .text-area textarea {
    font-family: "roboto", sans-serif;
    color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 37.5em) {
    .message-us {
      padding: 1rem;
      width: 80%;
      margin: 1rem auto; } }

.box-section {
  position: relative;
  margin-bottom: 10rem; }
  .box-section img {
    height: 100%;
    width: 100%; }
  .box-section__cover {
    width: 100%;
    height: 100%;
    background-color: #020202;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    font-family: "Indie Flower", cursive;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 75em) {
      .box-section__cover {
        font-size: 4rem;
        background-color: #0570c1; }
        .box-section__cover h1 {
          width: 80%; } }
    @media (max-width: 37.5em) {
      .box-section__cover {
        font-size: 2rem;
        background-color: #0570c1; } }
  @media (max-width: 37.5em) {
    .box-section {
      display: none; } }

.first-section {
  border: 2px solid #ff3c00;
  height: 105vh;
  margin-top: 5rem;
  color: white;
  background-color: black; }
  .first-section__content {
    display: flex;
    height: 95vh; }
    .first-section__content--left {
      flex-basis: 50%; }
    .first-section__content--right {
      border: 2px solid #ff3c00;
      flex-basis: 50%; }
    @media (max-width: 37.5em) {
      .first-section__content {
        flex-direction: column-reverse; } }
  .first-section__free-space {
    border: 2px solid red;
    height: 10vh;
    display: flex; }
    .first-section__free-space--left {
      flex-basis: 50%;
      border: 2px solid white; }
    .first-section__free-space--right {
      flex-basis: 50%;
      border: 2px solid red;
      display: flex;
      align-items: flex-end;
      justify-content: center; }
      .first-section__free-space--right .extra-rectangle {
        height: 7rem;
        width: 80%;
        background-color: #FFFFFF;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem; }
    @media (max-width: 37.5em) {
      .first-section__free-space {
        flex-direction: column; }
        .first-section__free-space--right .extra-rectangle {
          width: 85%; } }

.fifth-section {
  display: flex;
  padding: 9rem 10rem 1rem;
  background-color: #fff;
  margin-top: 20rem; }
  .fifth-section--left {
    flex-basis: 50%; }
  .fifth-section--right {
    flex-basis: 50%; }
  @media (max-width: 75em) {
    .fifth-section {
      padding: 1rem 3rem; } }
  @media (max-width: 37.5em) {
    .fifth-section {
      flex-direction: column; } }

.footer {
  background-color: #0C0B0B;
  color: #FFFFFF;
  padding: 3rem;
  font-size: 1.8rem;
  z-index: 99; }
  .footer .footer__logo-and-content {
    display: flex; }
    .footer .footer__logo-and-content .footer__logo {
      flex-basis: 50%;
      padding: 3rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer .footer__logo-and-content .footer__logo .footer__logo--container {
        height: 9rem;
        width: 9rem; }
    .footer .footer__logo-and-content .footer__content {
      flex-basis: 50%;
      display: flex;
      padding: 3rem; }
      .footer .footer__logo-and-content .footer__content .footer__content--line {
        flex-basis: 10%;
        display: flex; }
        .footer .footer__logo-and-content .footer__content .footer__content--line .line {
          width: 1px;
          height: 20rem;
          border: 0.8px solid #FFFFFF;
          margin-left: -4rem; }
        @media (max-width: 37.5em) {
          .footer .footer__logo-and-content .footer__content .footer__content--line {
            flex-basis: 50%;
            align-items: center; }
            .footer .footer__logo-and-content .footer__content .footer__content--line .line {
              margin-left: 0rem; }
            .footer .footer__logo-and-content .footer__content .footer__content--line .invisible-div {
              flex-basis: 90%;
              display: flex;
              align-items: center;
              justify-content: center; } }
      .footer .footer__logo-and-content .footer__content .footer__content--info {
        flex-basis: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .footer .footer__logo-and-content .footer__content .footer__content--info .footer__info {
          line-height: 3.5rem;
          font-weight: 300; }
        @media (max-width: 37.5em) {
          .footer .footer__logo-and-content .footer__content .footer__content--info {
            flex-basis: 50%; }
            .footer .footer__logo-and-content .footer__content .footer__content--info .footer__info {
              line-height: 2.5rem; } }
      @media (max-width: 37.5em) {
        .footer .footer__logo-and-content .footer__content {
          padding: 0rem; } }
    @media (max-width: 37.5em) {
      .footer .footer__logo-and-content {
        flex-direction: column-reverse; } }
  .footer__free-space {
    padding: 1rem;
    text-align: center; }

.fourth-section {
  display: flex;
  padding: 9rem 10rem 1rem;
  background-color: #fff; }
  .fourth-section--left {
    flex-basis: 50%; }
  .fourth-section--right {
    flex-basis: 50%; }
  @media (max-width: 75em) {
    .fourth-section {
      padding: 1rem 3rem; } }
  @media (max-width: 37.5em) {
    .fourth-section {
      flex-direction: column; } }
  .fourth-section--right__container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    @media (max-width: 56.25em) {
      .fourth-section--right__container {
        width: 100%; } }
  .fourth-section__image {
    height: 90%;
    position: relative; }
    .fourth-section__image img {
      width: 100%;
      color: black; }
    .fourth-section__image .screenshot {
      position: absolute;
      top: 2rem;
      left: 0;
      opacity: .92;
      border-radius: 1rem; }

.header {
  height: 5rem;
  width: 100%;
  background-color: #0C0B0B;
  color: white;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9; }

.second-section {
  display: flex;
  padding: 9rem 10rem 1rem;
  background-color: #fff;
  border: 2px solid red; }
  .second-section--left {
    flex-basis: 50%; }
  .second-section--right {
    flex-basis: 50%; }
  @media (max-width: 75em) {
    .second-section {
      padding: 1rem 3rem; } }
  @media (max-width: 37.5em) {
    .second-section {
      flex-direction: column-reverse; } }

.sixth-section {
  display: flex;
  padding: 9rem 10rem 1rem;
  background-color: #fff;
  margin-bottom: -1rem; }
  .sixth-section--left {
    flex-basis: 50%; }
  .sixth-section--right {
    flex-basis: 50%; }
  @media (max-width: 75em) {
    .sixth-section {
      padding: 1rem 3rem; } }
  @media (max-width: 37.5em) {
    .sixth-section {
      flex-direction: column; } }
  .sixth-section--right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    .sixth-section--right .extra-rectangle {
      height: 7rem;
      width: 80%;
      background-color: #444444;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .sixth-section--right .extra-rectangle .social-icons-container {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around; }
  @media (max-width: 37.5em) {
    .sixth-section {
      padding-bottom: 0rem;
      margin-bottom: -.11rem; }
      .sixth-section--right {
        justify-content: center; }
        .sixth-section--right .extra-rectangle {
          width: 95%; } }

.third-section {
  display: flex;
  padding: 9rem 10rem 1rem;
  background-color: #fff;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 0rem 0rem; }
  .third-section--left {
    flex-basis: 50%; }
  .third-section--right {
    flex-basis: 50%; }
  @media (max-width: 75em) {
    .third-section {
      padding: 1rem 3rem; } }
  @media (max-width: 37.5em) {
    .third-section {
      flex-direction: column; } }
  @media (max-width: 56.25em) {
    .third-section {
      display: flex;
      flex-direction: column; } }
  .third-section--left {
    position: relative;
    flex-basis: 45%;
    z-index: 0; }
    .third-section--left__container {
      margin-top: 18%;
      width: 100%;
      background-color: transparent;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 3%;
      justify-content: space-around; }
      @media (min-width: 112.5em) {
        .third-section--left__container {
          margin-top: 18%; } }
      @media (max-width: 88.5em) {
        .third-section--left__container {
          margin-top: 19%; } }
      @media (max-width: 72.375em) {
        .third-section--left__container {
          margin-top: 35%; } }
      @media (max-width: 64em) {
        .third-section--left__container {
          margin-top: 29%; } }
      @media (max-width: 48em) {
        .third-section--left__container {
          margin-top: 37%; } }
      @media (max-width: 56.25em) {
        .third-section--left__container {
          flex-direction: column;
          margin-left: 0rem;
          margin-top: 0rem; } }
    @media (min-width: 112.5em) {
      .third-section--left {
        margin-left: 8rem; } }
    @media (max-width: 56.25em) {
      .third-section--left {
        margin-bottom: 9rem; } }
  .third-section--right {
    flex-basis: 55%;
    position: relative; }
    .third-section--right .main {
      display: flex;
      align-items: center;
      justify-content: center; }
      .third-section--right .main .internal-cards-container {
        height: 45rem;
        width: 45rem;
        border: 2px solid #0570c1;
        border-radius: 50%;
        margin-top: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (min-width: 112.5em) {
          .third-section--right .main .internal-cards-container {
            height: 50rem;
            width: 50rem; } }
        @media (max-width: 112.5em) {
          .third-section--right .main .internal-cards-container {
            margin-right: 0rem; } }
        @media (width: 23.4375em) {
          .third-section--right .main .internal-cards-container {
            height: 35rem;
            width: 35rem; } }
      @media (max-width: 112.5em) {
        .third-section--right .main {
          margin-right: 0rem; } }
      @media (max-width: 62.5em) {
        .third-section--right .main {
          margin-right: 0rem; } }
    @media (max-width: 56.25em) {
      .third-section--right {
        margin-bottom: 9rem; } }
  @media (max-width: 48em) {
    .third-section {
      margin: 0rem; } }
  @media (max-width: 23.4375em) {
    .third-section {
      padding: 0rem; } }

body {
  background-color: #FFFFFF; }
