.videos-area{
    display: flex;
    margin-top: 5.6rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.videos-area__displayer{
    flex-basis: 70%;
}
.videos-area__list{
    flex-basis: 30%;
}

@media screen and (max-width: 600px){
    .videos-area{
        flex-direction: column;
    }
}