.core-value{
    display: flex;
    margin-bottom: 2rem;
    transition: all 1s ease;
    width: 90%;

    &__box{
        flex-basis: 20%;
        background-color: $color-gray-opacity-66;
        @include positioningContent(center, center);
        h1{
            font-size: 8rem;
            color: $color-primary-white;
            text-transform: uppercase;
        }
    }
    &__content{
        font-size: 1.8rem;
        font-weight: $light-weight;
        flex-basis: 80%;
        padding: 1rem;
        line-height: 3rem;
    }
    &__strong{
        color: $color-primary-dark-blue;
    }

    &:hover{
        transform: scale(1.09);
        box-shadow: $box-shadow;
    }
}