.logo-container{
    text-align: center;
    font-family: $sirin-stencil;
    .logo{
        height: 80%;
        width: 80%;
    }
    p{
        margin-top: -1rem;
        color: $color-primary-white;
        font-weight: $regular-weight;
    }
}