.logo-container{
    text-align: center;
    font-family: $sirin-stencil;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        height: 80%;
        width: 80%;
        cursor: pointer;
    }
    p{
        margin-left: 1rem;
        color: $color-primary-white;
        font-weight: $regular-weight;
    }
}