.small-main-card{
    @extend .big-main-card;
    width: 12rem;
    height: 12rem;
    padding: 2.5rem 0.5rem;
    font-size: 1.5rem;
    background-color: $color-primary-white;
    margin-bottom: 0rem;
    position: relative;
    .notation{
        height: 4rem;
        width: 4rem;
        border-radius: 5rem;
        @include positioningContent(center, center);
        background-color: $color-primary-white ;
        position: absolute;
        top: -20%;
        left: 35%;
        border: 1px solid $color-primary-dark-blue;
        z-index: 8;
        @include responsive(phone) {
            top: -15%;
        }
        p{
            color: $color-primary-light-blue-full;
        }

    }
    img{
        height: 3rem;
        width: 3rem;
        margin-bottom: 1rem;
    }

    @include responsive(lg-desktop){
        margin-right: 8rem;
    }


    @include responsive(tab-port){
        width: 12rem;
        height: 12rem;
        font-size: 1.7rem;
        padding: 3rem 0rem;
        margin-bottom: 2rem;
        img{
            height: 2.5rem;
            width: 2.5rem;
            margin-bottom: .7rem;
        }

        }

        @include responsive(iphone6-7-8){
            width: 10rem;
            height: 12rem;
            font-size: 1.6rem;
            padding: 1.5rem 0rem;
            margin-bottom: 2rem;
            img{
                margin-bottom: .7rem;
            }
    
            }

}

.middle-card{
    @extend .small-main-card;
    @include responsive(lg-desktop){
        margin-left: 8rem;
    }
}

.write-code{
    @extend .small-main-card;
    position: absolute;
    top: 36%;
    left: 10%;
  
    @include responsive(tab-port){
        top: -10%;
        left: 42%;
    }

    @include responsive(over-450){
        left: 44%;
    }

    @include responsive(iphone6-7-8-exact){
       left: 39%;
     }
}

.testing{
    @extend .small-main-card;
    position: absolute;
    top: 81%;
    left: 28%;
  
    @include responsive(tab-port){
        top: 14%;
        left: 9%;
    }

    @include responsive(over-450){
        left: 24%;
    }

    @include responsive(iphone6-7-8-exact){
       left: 4%;
    }
}

.features-delivery{
    @extend .small-main-card;
    position: absolute;
    top: 81%;
    left: 56.8%;
    @include responsive(tab-port){
        top: 60%;
        left: 9%;
    }

    @include responsive(over-450){
        left: 24%;
    }

    @include responsive(iphone6-7-8-exact){
        left: 4%;
     }
}

.share-updates{
    @extend .small-main-card;
    position: absolute;
    top: 36%;
    left: 70%;
    @include responsive(tab-port){
        top: 85%;
        left: 42%;
    }
}

.client-feedback {
    @extend .small-main-card;
    position: absolute;
    top: -7%;
    left: 56.5%;
    @include responsive(tab-port){
        top: 60%;
        left: 73%;
    }

    @include responsive(over-450){
        left: 64%;
    }
}

.optimization{
    @extend .small-main-card;
    position: absolute;
    top: -7%;
    left: 28%;

    @include responsive(tab-port){
        top: 14%;
        left: 73%;
    }

    @include responsive(over-450){
        left: 64%;
    }
}

.product-delivery{
    @extend .small-main-card;
    position: absolute;
    top: -50%;
    left: 28%;

    @include responsive(tab-port){
        top: -30%;
        left: 73%;
    }

    @include responsive(over-450){
        left: 64%;
    }

    @include responsive(iphone6-7-8-exact){
        top: -39%;
     }
    
}