.header__nav{
    @include positioningContent(center, center);
    flex-basis: 55%;
    ul {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        list-style: none;

        .link{
            text-decoration: none;
        }
        li{
            padding: 1rem;
            color: $color-gray-medium;
            font-size: 1.4rem;
            list-style: none;
            &a,
            :link,
            :visited{
                text-decoration: none;
                color: $color-gray-medium;
                font-size: 1.4rem;
            }
            &:hover{
                background-color: $color-primary-dark-blue;
                border-radius: .5rem;
                color: $color-primary-white;
                a {
                  color: $color-primary-white;
                }
            }
        }
        @include responsive(tab-port){
            display: none;
        }
    }

}
