.message-us{
    display: block;
    padding: $medium-padding;
    color: rgba(0, 0, 0, 0.762);
    h1{
        margin-bottom: $medium-padding;
        font-size: 3.5rem;
        font-weight: $light-weight;
        color: $color-primary-opacity-80;
    }
    form{
        .message-us-input{
            width: 90%;
            padding: 1.5rem;
            font-size: 1.8rem;
            border-radius: 1rem;
            margin-bottom: 2rem;
            border: none;
            background-color: $bg-color-secondary-light-gray;
            outline: none;
            @include responsive(tab-port){
              width: 95%;
            }

            @include responsive(phone){
                width: 100%;
              }

       }

       .text-area{
           textarea{
           font-family: $roboto;
           color: $color-black-opacity-50;
           }
       }
    }

    @include responsive(phone){
        padding: 1rem;
        width: 80%;
        margin: 1rem auto;
      }
}
