.message-us{
    display: block;
    padding: $medium-padding;
    color: rgba(0, 0, 0, 0.762);
    position: relative;
    h1{
        margin-bottom: $medium-padding;
        font-size: 3.5rem;
        font-weight: $light-weight;
        color: $color-primary-opacity-80;
    }
    form{

       .text-area{
           textarea{
           font-family: $roboto;
           color: $color-black-opacity-50;
           }
       }
    }

    @include responsive(phone){
        padding: 1rem;
        width: 80%;
        margin: 1rem auto;
      }


   
    .send-message-popup{
        width: 100%;
        height: 50%;
        border-radius: 1rem;
        box-shadow: $box-shadow;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        border-bottom: .2rem solid $color-primary-dark-blue;
        transition: all .5s;
        animation: moveInLeftShort 1s ease;
        display: flex;
        flex-direction: column;
    
        .close-x{
            margin-left: auto;
            border: none;
            @include positioningContent(center, center);
            width: 5rem;
            font-size: 4rem;
            background-color: transparent;
            color: $color-gray-opacity-80;
            cursor: pointer;
            outline: none;
            &:hover{
                color: $color-primary-dark-blue;
            }
        }
        .send-message-model{
            @include positioningContent(center, center);
            flex-basis: 80%;
          .response-message{
              p{
                  font-size: 2rem;
                  text-align: center;
                  color: $color-primary-dark-blue;
              }
          }
      
        }
    }


    .hidden {
        display: none;
    }
  
}
