.message-us{
    display: block;
    padding: $medium-padding;
    color: rgba(0, 0, 0, 0.762);
    h1{
        margin-bottom: $medium-padding;
        font-size: 3.5rem;
        font-weight: $light-weight;
        color: $color-primary-opacity-80;
    }
    form{

       .text-area{
           textarea{
           font-family: $roboto;
           color: $color-black-opacity-50;
           }
       }
    }

    @include responsive(phone){
        padding: 1rem;
        width: 80%;
        margin: 1rem auto;
      }
}
