.social-icon{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    @include positioningContent(center, center);
    transition: all .1s ease;
    background: $main-color;
    &:hover{
            box-shadow: $box-shadow;
    }
    a,
    &:link,
    &:visited{
        height: 70%;
        width: 70%;
        border-radius: 50%;
        @include positioningContent(center, center);
        img{
            height: 70%;
            width: 70%;
            cursor: pointer;
            transition: all 1s;
            &:hover{
                transform: scale(1.5);
            }
        }
    }
}

.icon-zero{
    animation: moveInLeftZERO 1s  ease-in-out;
    transition: all .5s;
}
.icon-one{
    animation: moveInLeft 1.5s ease-in-out;
    transition: all .5s;
}

.icon-two{
    animation: moveInLeftTWO 2s ease-in-out;
    transition: all .5s;
}
.icon-three{
    animation: moveInLeftTHREE 2.5s ease-in-out;
    transition: all .5s;
}
.icon-four{
    animation: moveInLeftFOUR 3s ease-in-out;
    transition: all .5s;
}