.videos{
    width: 80%;
    height: 50%;
    display: flex;
    flex-flow: wrap;
    .small-video-card{
        flex-basis: 50%;
        @include positioningContent(center, center);
        &:nth-child(1){
            background-color: rgba($color: #0570c1f3, $alpha: .9);
        }
        &:nth-child(4){
            background-color: rgba($color: #0570c1f3, $alpha: .9);
        }

        &:nth-child(2){
            background-color: rgba($color: $color-primary-dark-black, $alpha: .8);
        }
        &:nth-child(3){
            background-color: rgba($color: $color-primary-dark-black, $alpha: .8);
        }

    }
    .video-box{
        flex-basis: 50%;
        position: relative;
    }

    @include responsive(tab-land){
        margin-top: -30%;
        width: 95%;
        height: 35%;
    }
    @include responsive(tab-port){
        margin-top: 20%;
        width: 90%;
        height: 90%;
    }
    @include responsive(phone){
        margin-top: 50%;
    }
}