.angle-icon{
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    font-size: 2.5rem;
    @include positioningContent(center, center);
    margin-left: 2rem;
    color: white;
    z-index: 8;
    background-color: $color-primary-dark-blue;
    a,
    :link,
    :visited{
        color: white;
        font-size: 3rem;
        // height: 5rem;
        font-weight: 300;

    }
}