.angle-icon{
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    font-size: 2.5rem;
    @include positioningContent(center, center);
    color: $color-primary-white;
    z-index: 8;
    background-color: $color-primary-dark-blue;
    a,
    :link,
    :visited{
        margin-left: .3rem;
        color: $color-primary-white;
        font-size: 3rem;
        font-weight: 300;

    }
}


.angle-icon-small{
    @extend .angle-icon;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $color-primary-white;
    a,
    :link,
    :visited{
        color: $color-primary-dark-blue;
        font-size: 2.5rem;
    }
}
