.first-section{
    position: relative;
    height: 110vh;
    color: white;
    .moving-box{
        height: 7rem;
        width: 7rem;
        transition: all 10s;
        animation: moving-main-box 35s infinite;
        position: absolute;
        top: 0;
        left: 0;
        img{
            height: 100%;
        }
    }

    .view{
        @include positionObsoluteTop;
            z-index: 2;
    }
    &__model{
        @include positionObsoluteTop;
        position: absolute;
        background-color: $color-black-model;
        z-index: 1;
    }
    .bg-animations{
    @include positionObsoluteTop;
    display: flex;
    flex-direction: column;
    z-index: 0;
    background-color: $color-animations-bg;
     .top-div{
        flex-basis: 20%;
        text-align: center;

        animation: moving-top-box 20s  5s iteration-count direction fill-mode;

        img{
            height: 7rem;
            margin-right: 15rem;
        }

     }

     .lower-div{
        flex-basis: 80%;
        display: flex;
        justify-content: center;
        @include positioningContent(center, center);
        .box-1{
            flex-basis: 35%;
            
            img{
                height: 7rem;
            }
        }
        .box-2{
            text-align: center;
            flex-basis: 30%;
            @include positioningContent(center, center);
            flex-direction: column;

            .big-box{
                height: 35rem;
                margin-left: 9rem;
                @include responsive(phone){
                    height: 30rem;
                    width: 30rem;
                }
            }
            .small-box{
            height: 7rem;
            width: 7rem;
           }

        }
        .box-3{
            flex-basis: 35%;
            img{
            height: 7rem;
            }

        }

        @include responsive(phone){
            flex-direction: column;
            .box-1{
                flex-basis: 30%;
            }
            .box-2{
                flex-basis: 40%;
            }
            .box-3{
                flex-basis: 30%;
            }
        }
     }
    }


    &__content{
        display: flex;
        height: 100vh;
        &--left{
            flex-basis: 50%;
         @include positioningContent(center, center);

        }
        &--right{
            flex-basis: 50%;
            @include positioningContent(center, start);
            @include responsive(phone){
            @include positioningContent(center, center);
            }
        }

        @include responsive(phone){
            flex-direction: column-reverse;
        }
    }
    &__free-space{
        height: 10vh;
        display: flex;
        &--left{
            flex-basis: 50%;
        }
        &--right{
            flex-basis: 50%;
            @include positioningContent(flex-end, center);
            .extra-rectangle{
                @include extra-rectangle($color-primary-white);
                .second-section-heading{
                    padding-top: 2rem;
                    display: none;
                }

            }
        }
        @include responsive(phone){
            flex-direction: column;
            &--right{
                .extra-rectangle{
                    width: 85%;
                    .second-section-heading{
                        display: block;
                    }
                }
            }
        }
    }

.fixed-get-started{
    position: fixed;
    bottom: 5rem;
    left: 5rem;
    z-index: 99;
    width: 40%;
    animation: moveInLeft 1s ease-in-out;
    @include responsive(tab-port){
        bottom: 2rem;
        left: 2rem;
    }
  }

  .directing-btn{
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    z-index: 8;
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include responsive(tab-port){
        bottom: 2rem;
        right: 2rem;
    }
  }

  .bars-icon{
    @include positioningContent(center, center);
    padding: .7rem;
    border-radius: 5rem;
    height: 4rem;
    width: 4rem;
    background-color: $color-primary-dark-blue;
    box-shadow: $box-shadow;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    top: .5rem;
    right: 2rem;
    z-index: 999;
    &:hover{
    background-color: $color-primary-light-blue;
    }
    display: none;
    @include responsive(tab-port){
        display: flex;
    }
}

}
