.first-section {
  position: relative;
  height: 100vh;
  margin-top: 8vh;
  display: flex;

  @include responsive(phone) {
   flex-direction: column;
 }

  .bio-section {
    flex-basis: 50%;
    @include positioningContent(center, center);
   
    .bio {
      h1 {
        margin-bottom: 2rem;
      }
      font-size: 1.6rem;
      padding: 1rem;

      @include responsive(phone) {
        width: 65%;
      }
      @include responsive(surface-duo) {
        width: 80%;
      }
    }
  }
  .profile-section {
    flex-basis: 50%;
    .profile {
      img {
        width: 100%;
      }
      .names {
        height: 6rem;
        @include positioningContent(center, center);
        font-size: 1.6rem;
        font-weight: 500;
        box-shadow: $box-shadow;
      }
      @include responsive(phone) {
        margin-bottom: 3rem;
      }
    }
    @include responsive(tab-port) {
       display: flex;
    align-items: center;
    justify-content: center;
    }
  }

  .fixed-get-started {
    position: fixed;
    bottom: 5rem;
    left: 5rem;
    z-index: 999;
    width: 40%;
    animation: moveInLeft 1s ease-in-out;
    @include responsive(tab-port) {
      bottom: 2rem;
      left: 2rem;
    }
  }

  .directing-btn {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    z-index: 99;
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include responsive(tab-port) {
      bottom: 2rem;
      right: 2rem;
    }
  }

  .social-icons-container {
    height: 40vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 6rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 5rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    z-index: 2;
  }
}
