.fourth-section{

    @include sectionPadding(column);
    &--left{
    }
    &--right{
        &__container{
            @include styleCard;
            @include responsive(tab-port){
                width: 100%;
            }
        }
    }

    &__image{
        height: 90%;
        position: relative;
        img{
            width: 100%;
            color: black;
        }
        .screenshot{
            position: absolute;
            top: 2rem;
            left: 0;
            opacity: .92;
            border-radius: 1rem;
        }
    }
    @include responsive(phone){
    }

}