.fourth-section {
  margin-bottom: 2rem;

  .about-me-boxes-container {
    margin-top: 2rem;
    display: flex;
    flex-flow: wrap;
    @include responsive(tab-port) {
      justify-content: space-evenly;
    }

    .about-me-box {
      width: 50%;
      height: 40rem;
      font-size: 1.6rem;
      @include positioningContent(center, center);
      transition: all 1s;

      @include responsive(tab-port) {
        margin-bottom: 3rem;
      }

      @include responsive(phone) {
        width: 100%;
        height: 25rem;
  

      }
      &:hover {
        transform: scale(0.9);
      }
      @include responsive(tab-port) {
        width: 80%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .info {
     
        h2 {
          padding: 1rem;
          font-size: 2rem;
          color: $main-color;
            @include responsive(phone) {
              font-size: 2.5rem;
          }
        }
        .about-me-content {
          width: 90%;
          margin: 2rem auto;
          @include responsive(phone) {
            font-size: 2rem;
            line-height: 2.7rem;
            width: 100%;
        }
        }
      }
    }
  }
}
