.header{
    height: 5rem;
    width: 100%;
    background-color: $color-primary-opacity-80;
    color: white;
    font-size: 1.8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    padding: 0rem 10rem;

    @include responsive(tab-port){
    height: 7rem;
    padding: 0rem 5rem;
    }
    &__main-container{
        flex-basis: 55%;
    }
    &__logo{
        height: 2.5rem;
        width: 2.5rem;
    }

    // .bars-icon{
    //     @include positioningContent(center, center);
    //     padding: .7rem;
    //     border-radius: 5rem;
    //     height: 4rem;
    //     width: 4rem;
    //     background-color: $color-primary-dark-blue;
    //     box-shadow: $box-shadow;
    //     font-size: 2rem;
    //     cursor: pointer;
    //     position: fixed;
    //     top: 1.5rem;
    //     right: 2rem;
    //     z-index: 999;
    //     &:hover{
    //     background-color: $color-primary-light-blue;
    //     }
    //     display: none;
    //     @include responsive(tab-port){
    //         display: flex;
    //     }
    // }
}