.second-section{
    @include sectionPadding (column-reverse);
    @include responsive(tab-port){
        flex-direction: column-reverse;
    }
    &--left{
        .content{
            text-align: center;
            font-size: $medium-font-size;
            font-weight: $light-weight;
            margin: 2rem auto;
            width: 70%;
            color: $color-gray-opacity-80;

            @include responsive(phone){
                margin-top: 0rem;
                width: 80%;

            }
        }
        p{
            padding: 2rem;
            line-height: 3rem;
        }
    }
    &--right{
        padding-bottom: 10rem;
        img{
            height: 50rem;
            @include responsive(tab-land){
                height: 35rem;
            }
            @include responsive(tab-port){
                height: 45rem;
            }
            @include responsive(phone){
                height: 20rem;
            }
            @include responsive(very-very-small-screen){
                height: 18rem;
            }
        }

        @include responsive(phone){
            padding-bottom: 0rem;
           }
    }
    @include responsive(phone){
        &__heading{
            display: none;
        }
    }
}