.third-section {
    margin-bottom: 2rem;

  .info-section {
    display: flex;

    font-size: 1.8rem;
    width: 60%;
    margin: 4rem auto;
    display: flex;
    flex-flow: wrap;

    @include responsive(tab-port){
        width: 80%;

    }

    .project-box {
      width: 50%;
      height: 30rem;
      border-radius: 1rem;
      overflow: hidden;

      .caption {
        height: 100%;
        width: 100%;
        margin: 0rem auto;
        align-self: center;
        @include positioningContent(center, center);

        @include positioningContent(center, center);

        position: relative;
        .coverimage {
          height: 50%;
          width: 50%;
          object-fit: contain;
          backface-visibility: hidden;
          transition: all 1s;
        }

        .story__username {
            align-self: center;
        background-color: #000;
          position: absolute;
          width: 100%;
          min-height: 40%;
          //   background-color: #fff;
          border-radius: 0.5rem;
          @include positioningContent(center, center);
          flex-flow: column;
          top: 50%;
          left: 50%;
          color: #fff;
          padding: 1rem;
          //   font-weight: 700;
          transform: translate(-50%, 20%);
          //   text-transform: uppercase;
          text-align: center;
          font-size: 1.7rem;
          opacity: 0;
          transition: all 1s;
          backface-visibility: hidden;
          //   border: 2px solid red;
          h2{
              margin-bottom: 3rem;
          }
          p{
            margin-bottom: 1rem;
            color: #e5e5e5;
            text-align: initial;

          }

          .button{
              width: 30%;
              height: 3rem;
              border: none;
              outline: none;
             
              background-color: $main-color;
              border-radius: .5rem;
          @include positioningContent(center, center);
             
                a,&:visited{
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.6rem;
                }
              &:hover{
              background-color: rgb(105, 0, 105);

              }
          }
        }
      }

      &:hover {
        .story__username {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
        .coverimage {
          transform: translateX(-15rem) scale(0.5);
          filter: blur(3px) brightness(100%);
        }
      }
    }
  }
}
