.third-section{
    @include sectionPadding(column);
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding: 0rem 0rem;
    @include responsive(tab-port){
        display: flex;
        flex-direction: column;
    }
    &--left{
        position: relative;
        flex-basis: 45%;
        z-index: 0;
        &__container{
            margin-top: 18%;
            width: 100%;
            background-color: transparent;
            z-index: 1;
            @include positioningContent(center, center);
            margin-left: 3%;
            justify-content: space-around;
            @include responsive(lg-desktop){
                margin-top: 18%;
            }

            @media (max-width: 88.5em) {
                margin-top: 19%;
            }

            @media (max-width: 72.375em) {
                margin-top: 35%;

            }
            @include responsive(ipad-pro){
                margin-top: 29%;
            }

            @include responsive(ipad){
                margin-top: 37%;

             }
            @include responsive(tab-port){
                flex-direction: column;
                margin-left: 0rem;
                margin-top: 0rem;
            }
      }

      @include responsive(lg-desktop){
        margin-left: 8rem;
    }

    @include responsive(tab-port){
         margin-bottom: 9rem;
    }

    }
    &--right{
        flex-basis: 55%;
        position: relative;
        .main{
            @include positioningContent(center, center);
            .internal-cards-container{
                height: 45rem;
                width: 45rem;
                border: 2px solid $color-primary-dark-blue;
                border-radius: 50%;
                margin-top: 2rem auto;
            @include positioningContent(center, center);

            @include responsive(lg-desktop){
                height: 50rem;
                width: 50rem;
            }

            @include responsive(android-land){
                margin-right: 0rem;
            }
            @include responsive(iphone6-7-8-exact){
                height: 35rem;
                width: 35rem;

            }
            }



            @include responsive(android-land){
                margin-right: 0rem;
            }


            @media (max-width: 62.5em) {
                margin-right: 0rem;
                
            }
        }

        @include responsive(tab-port){
            margin-bottom: 9rem;
       }

    }
    @include responsive(ipad){
       margin: 0rem;
    }

    @include responsive(iphone6-7-8){
        padding: 0rem;
    }
}