.third-section{
    @include sectionPadding(column);
    margin-top: 10rem;
    margin-bottom: 10rem;
    &--left{
        position: relative;
        flex-basis: 45%;
        z-index: 0;
        &__container{
            margin-top: 22%;
            width: 100%;
            background-color: transparent;
            z-index: 1;
            @include positioningContent(center, center);
            margin-left: 3%;

            @include responsive(lg-desktop){
                margin-top: 20%;
            }

            @media (max-width: 88.5em) {
                margin-top: 19%;
                border: 2px solid red;
            }

            @media (max-width: 72.375em) {
                margin-top: 35%;

            }

            @media (max-width: 64em) {
                margin-top: 22%;

            }

            // @media (max-width: 62.5em) {
            //     margin-top: 37%;
            //     margin-left: 0rem;
            // }

           
            // @media (max-width: 48em) {
            //     margin-top: 22%;
            //     // border: 2px solid red;
            // }

            @include responsive(phone){
                padding: 0rem;
                flex-direction: column;
                margin-left: 2rem;
                margin-top: 0rem;
            }


            @media (max-width: 26.6em) {
        
                // margin-top: 0rem;
                // padding: 3rem 0rem;
                // border: 2px solid red;

                }
      }

      @include responsive(lg-desktop){
        margin-left: 6rem;
    }
    }
    &--right{
        flex-basis: 55%;
        // border: 1px solid red;
        position: relative;
        .main{
            // width: 90%;
            // border: 1px solid black;
            margin-right: 5%;
            @include positioningContent(center, center);
            .internal-cards-container{
                height: 60vh;
                width: 60vh;
                border: 2px solid $color-primary-dark-blue;
                border-radius: 50%;
                margin-top: 2rem auto;
            @include positioningContent(center, center);

            @include responsive(tab-land){
                height: 50vh;
                width: 50vh;
            }

            @include responsive(tab-port){
                height: 37vh;
                width: 37vh;
            }

            @include responsive(phone){
                // height: 35vh;
                // width: 35vh;
            }
            }

            @include responsive(phone){
               margin-right: 0rem;
            }
        }
        @include responsive(phone){
            margin-top: 7rem;
        }
    }
  

}